/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
}

.products-filter-skintypes{

  background-color:rgb(72, 50, 50);
  
}